<div class="mainContainer">
    <div class="titles">
        <h1>Bienvenid@ a la Tienda</h1>
         <div class="navButtons">
            <a href="/" class="href">Ir a Home</a>
            <a href="/carts" class="href">Ver Carritos</a>
            <a href="/chat" class="href">Ir al Chat</a>
        </div>
    </div>
     
    <div class="productsContainer">
        <div class="productsPageNav">
            <a href="/products?pagina=1" class="href navLink">Primera Pag.</a>
            {{#if hasPrevPage}}
                <a href="/products?pagina={{prevPage}}" class="href navLink">Pag.Anterior</a>
            {{/if}}
            {{#if hasNextPage}}
                <a href="/products?pagina={{nextPage}}" class="href navLink">Pag. Siguiente</a>
            {{/if}}        
            <a href="/products?pagina={{totalPages}}" class="href navLink">Última Pag.</a>
        </div>       
        <h3>Productos Disponibles:</h3>
        <div class="productsList">
                {{#each products}}
                    <div class="productCard">
                        <div class="resultsliContainer">
                            <p><strong>{{title}}</strong></p>
                            <p><small>{{_id}}:</small></p>
                            <div><img src='{{thumbnails}}' width="150px"/></div>
                            <p>{{description}}</p>
                            <p><strong>Precio:</strong> ${{price}}</p>
                        </div>
                        <div class="buybuttonContainer">
                                <button class="checkDetails" onClick="checkProductDetails('{{_id}}')">Ver Detalles</button>
                                <button class="buyButton" onClick="addProdToCart('{{title}} con id#{{_id}}')">comprar</button>                    
                        </div>
                    </div>
                {{/each}}

        </div>    
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/products.js"></script>


